body{
  font-size: 16px;
  font-family: 'arial',sans serif;
  color: black;
  background-color: white

   }
   h1{
    font-family: 'Roboto Mono', monospace;
   }

   h3{
    font-family: 'Roboto', sans-serif;

   }

   #sm-box{
    background-color: white;
    border: 1px solid black;
    text-align: center;
   }


   #box{
    background-color: #A9A9A9;
    padding: 10px;  
    border: 2px solid black;
    margin: 40px;

   }

   #content{

    background-color: #A9A9A9;
    margin-bottom: 16px;
    margin: 15px;
   }

#header-nav{
  background-color: #A9A9A9;  
  border-radius: 0;
  border: 2px solid black;

  }

.navbar-brand{
  padding-top: 10px;
  padding-right: 100px;

}
.navbar-brand h1{
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

#nav-list{
  margin-top: 5px;
}
#nav-list a{
  color: black;
  text-align: center;
}
#nav-list a:hover{
  background: #A9A9A9;
}



   